/* CSS Tugas 11 */
.tabelBuah{
  text-align: center;
  font-family: serif;
}
#tableBuah{
  border: 1px solid #000;
  margin-left: 25%;
  width: 50%;
}
th[name = "buah_th"]{
  text-align: center;
  background-color: rgb(170,170,170);
}
td[name = "buah_td"]{
  text-align:left;
  background-color: rgb(255,127,80);
}

/* CSS Tugas 12 */
table[name = "tableTimer"]{
  text-align: center;
  margin-left: 23%;
  width: 50%;
}

/* CSS Tugas 13 */
.formBuah{
  text-align:center;
  font-family:serif;
}
#dataBuah{
  width: 30%;
  margin-left: 34%;
  display: grid;
  grid-template-columns: 2fr;
  grid-gap: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
}
label[name = "labelBuah"]{
  float: left;
  padding-right: 65%;
}
button[name = "submitBuah"]{
  width: 50%;
  border-radius: 10px;
  margin-left: 25%;
}
button[name="buttonEdit"]{
  margin-left: 30%;
  border-radius: 5px;
}
button[name="buttonDelete"]{
  margin-left: 10%;
  border-radius: 5px;
  color: white;
  background-color: rgb(242, 61, 48);
}

/*CSS Tugas 15*/
nav {
    display: flex;
    background-color: #f2df80
}

nav ul {
    list-style-type: none;
    width: 100%;
    text-decoration: none;
}

nav ul li {
    margin: 20px;
    display: block;
    float: left;
}

nav ul li a {
    text-decoration: none;
    font-weight: bold;
}
